<html>

    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        
        <%- style %>

    </head>

    <body>

        <%-include ('_header');%>

        <%- body %>

        <%-include('_footer');%>

        <script src="https://kit.fontawesome.com/c90807128e.js" crossorigin="anonymous"></script>
        
        <% -script %>

       
    </body>

</html>